{% extends "home/layout.html" %}

{% block content %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">
            Django Project with Azure DevOps
        </h1>
        <p class="lead">
            Cover is a one-page template for building simple and beautiful home pages.
            Download, edit the text, and add your own fullscreen background photo to make it your own.
        </p>
        <p class="lead">
        <a href="https://aka.ms/devops" class="btn btn-lg btn-secondary" target="_blank">
            배우러 가기
        </a>
        </p>
    </main>
{% endblock %}

