{% extends "layout.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "home/cover.css" %}" />
{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Azure DevOps</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>
                    Cover template for
                    <a href="https://getbootstrap.com/">Bootstrap</a>,
                    by <a href="https://twitter.com/mdo">@mdo</a>.
                </p>
            </div>
        </footer>
    </div>
{% endblock %}

